<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__root" href="/">CoderDojo Horn</a>
    <a class="c-navigation__item {% if page.url == '/anmeldung/' %}is-active{% endif %}" href="{{ "/anmeldung/" | prepend: site.baseurl }}">Anmeldung</a>
    <a class="c-navigation__item {% if page.url == '/termine/' %}is-active{% endif %}" href="{{ "/termine/" | prepend: site.baseurl }}">Termine</a>
    <a class="c-navigation__item {% if page.url == '/info/' %}is-active{% endif %}" href="{{ "/info/" | prepend: site.baseurl }}">Info</a>
    <a class="c-navigation__item {% if page.url == '/mentoren/' %}is-active{% endif %}" href="{{ "/mentoren/" | prepend: site.baseurl }}">Mentoren</a>
    <a class="c-navigation__item {% if page.url == '/kontakt/' %}is-active{% endif %}" href="{{ "/kontakt/" | prepend: site.baseurl }}">Kontakt</a>
  </div>
</nav>
